---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import getPostsByTag from "@/utils/getPostsByTag";
import { SITE } from "@/config";
import { getLocaleFromPath, ui } from "@/i18n";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  const tags = getUniqueTags(posts);

  return tags.flatMap(({ tag, tagName }) => {
    const tagPosts = getPostsByTag(posts, tag);

    return paginate(tagPosts, {
      params: { tag },
      props: { tagName },
      pageSize: SITE.postPerPage,
    });
  });
}

const { page, tagName } = Astro.props;
const locale = getLocaleFromPath(Astro.url.pathname);
const copy = ui[locale];
const pageTitle = `${copy.pages.tagTitle}${tagName}`;
const pageDesc = `${copy.pages.tagDescPrefix}${tagName}${copy.pages.tagDescSuffix}`;
---

<Layout title={`${pageTitle} | ${SITE.title}`}>
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <ul>
      {page.data.map(data => <Card {...data} {locale} />)}
    </ul>
  </Main>

  <Pagination {page} {locale} />
</Layout>
