---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { getLocaleFromPath, ui } from "@/i18n";

const posts = await getCollection("blog");
const locale = getLocaleFromPath(Astro.url.pathname);
const copy = ui[locale];

let tags = getUniqueTags(posts);
---

<Layout title={`${copy.pages.tagsTitle} | ${SITE.title}`}>
  <Main pageTitle={copy.pages.tagsTitle} pageDesc={copy.pages.tagsDesc}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} {locale} />)}
    </ul>
  </Main>
</Layout>
