---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { ui } from "@/i18n";

const locale = "en";
const copy = ui[locale];
const posts = await getCollection("blog");
const tags = getUniqueTags(posts);
---

<Layout title={`${copy.pages.tagsTitle} | ${SITE.title}`} {locale}>
  <Main pageTitle={copy.pages.tagsTitle} pageDesc={copy.pages.tagsDesc}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} {locale} />)}
    </ul>
  </Main>
</Layout>
