---
import type { HTMLAttributes } from "astro/types";
import { SITE } from "@/config";

const currentYear = new Date().getFullYear();
const displayYear =
  currentYear > SITE.startYear
    ? `${SITE.startYear}-${currentYear}`
    : `${SITE.startYear}`;

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-8 sm:py-6",
      "border-t border-border/55",
      "flex justify-center",
    ]}
  >
    <div
      class="my-2 flex flex-col items-center text-[0.92rem] whitespace-nowrap text-foreground/48 sm:flex-row"
    >
      <span>&#169; {displayYear} {SITE.author}</span>
    </div>
  </div>
</footer>
