---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";
import { getLocaleFromPath, localizePath, ui, type Locale } from "@/i18n";

type Props = {
  page: Page<CollectionEntry<"blog">>;
  locale?: Locale;
};

const { page, locale = getLocaleFromPath(Astro.url.pathname) } = Astro.props;
const copy = ui[locale];
const prevUrl = page.url.prev ? localizePath(page.url.prev, locale) : undefined;
const nextUrl = page.url.next ? localizePath(page.url.next, locale) : undefined;
---

{
  page.lastPage > 1 && (
    <nav
      class="mt-auto mb-8 flex justify-center"
      role="navigation"
      aria-label="Pagination Navigation"
    >
      <LinkButton
        disabled={!prevUrl}
        href={prevUrl as string}
        class:list={["me-4 select-none", { "opacity-50": !prevUrl }]}
        aria-label={copy.actions.previousPageLabel}
      >
        <IconArrowLeft class="inline-block rtl:rotate-180" />
        {copy.actions.previousPage}
      </LinkButton>
      {page.currentPage} / {page.lastPage}
      <LinkButton
        disabled={!nextUrl}
        href={nextUrl as string}
        class:list={["ms-4 select-none", { "opacity-50": !nextUrl }]}
        aria-label={copy.actions.nextPageLabel}
      >
        {copy.actions.nextPage}
        <IconArrowRight class="inline-block rtl:rotate-180" />
      </LinkButton>
    </nav>
  )
}
